:root {
  --spotify-green: #1db954;
  --spotify-black: #121212;
  --spotify-dark-gray: #282828;
  --spotify-text: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

main {
  display: flex;
  flex-grow: 1;

  height: 100%;
  padding: 1rem;
  padding-bottom: 5rem;
}

main > div {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #040404;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #282828;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.loading-container {
  margin: auto;
}

.response {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#avatar {
  width: 3rem;
  height: 3rem;
  background-color: #1db954;
  border-radius: 50%;
  overflow: hidden;
}

.#avatar img {
  max-width: 100%;
  height: auto;
}

button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 9999px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0%;
}

button:disabled {
  background-color: rgba(29, 185, 84, 0.3);
  color: #b3b3b3;
  cursor: not-allowed;
}

button:not(:disabled) {
  background-color: #1db954;
  color: black;
}

button:not(:disabled):hover {
  background-color: #1ed760;
}

.fade {
  animation: fadein 1s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#loading-prompt {
  font-size: 1.1rem;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: var(--spotify-dark-gray);
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: var(--spotify-green);
  animation: progress 3s infinite linear;
}

@keyframes progress {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

.playlist-photo {
  max-width: 200px;
  max-height: 200px;
}

.cursor {
  animation: blinker 0.5s step-start infinite;
  color: var(--spotify-green);
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.image-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* .image-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
} */

.image-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
}

.exiting {
  animation: fadeout 1s forwards ease-in;
}

.entering {
  animation: fadein 1s forwards ease-out;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

#star-container {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  height: 48px;
  width: 280px;
  margin: 0 auto;
  display: none;
}

.star {
  width: 48px;
  height: 48px;
  fill: #ccc;
  transform: scale(0);
  transition: transform 0.5s ease-out;
  /* position: absolute; */
}

.star.active {
  fill: #ffd700;
}

.star.animate {
  animation: popIn 0.5s ease-out forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
