html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: auto;
  overflow: scroll;

  /* display: flex;
  flex-direction: column;
  color: #191414; */
}

footer {
  padding: 1em 0;
  margin-top: auto;
}

.logos {
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  content: "";
  z-index: 2;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;

  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
  margin-top: auto;
}

.logos-slide img {
  height: 100px;
  margin: 0 20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.cursor {
  animation: blinker 0.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
